body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
}

h1 {
    font-family: 'Secular One', sans-serif;
}

p {
    font-family: Roboto Condensed;
}

.header {
    height: 40vh;
    margin: 0;
    margin-right: 10%;
    margin-top: 10%;
    
}

.solsystemet-title {
    color: #fff;
    text-align: right;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 60px */
    letter-spacing: 5.4px;
    margin: 0;
    margin-bottom: 2%;
}

.solaris-title {
    color: #FFD029;
    text-align: right;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 24px */
    letter-spacing: 14.4px;
    margin: 0;
}

.container {
    width: 100%;
    height: 60%;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: 50%;
    align-items: center;
    justify-content: center;
    
}

#sun {
    width: 897px;
    height: 897px;
    background-color: #FFD029;
    border-radius: 1278px;
    transform: translate(-81%);
    margin-right: -600px;
}

.planet {
    padding: 40px;
}


.saturnwing {
    transform: translate(-22px, -129px);
    margin: 0;
    animation: rotate 3s linear infinite;
}

@keyframes rotate {
    0% {
        transform: translate(-22px, -129px);
    }
    50% {
        transform: translate(-10px, -125px);
    }
    100% {
        transform: translate(-22px, -129px);
    }

}



.saturnimg {
    margin-top: 108px;
}

.planet-info {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, #0C164D 0%, #190B22 100%);
    color: white;
    padding: 1%;
    overflow: auto;
    
   
    
}

.planetName {
   
    width: 50%;
    color: #fff;
    font-size: 4rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 5px;
    margin-left: 25%;
    /* text-align: center;
    margin-right: 35%;
    
    margin-top: 5%; */
}

.latinName {
    width: 50%;
    color: #FFD029;
    font-size: 2rem;
    font-weight: 600;
    line-height: 100%;
    letter-spacing: 14.4px;
    margin-left: 25%;
}

.planetDesc {
    width: 50%;
    color: #fff;
    font-size: 1.5rem;
    letter-spacing: 5px;
    font-weight: 300;
    margin-left: 25%;
    
    
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    
    width: 50%;
    
    margin-left: 25%;
    
}

.div-1, div-2, div-3, div-4 {
    font-family: Secular One;
    font-weight: 300;
    
    
    
}

.div-1 {
    font-size: 1.5rem;
    grid-area: 1 / 1 / 2 / 2;
}

.div-2 {
    font-size: 1.5rem;
    grid-area: 1 / 2 / 2 / 3;
}

.div-3 {
    font-size: 1.5rem;
    grid-area: 2 / 1 / 3 / 2;
}

.div-4 {
    font-size: 1.5rem;
    grid-area: 2 / 2 / 3 / 3;
}

.moon-text {
    width: 50%;
    margin-left: 25%;
    margin-top: 3%;
    letter-spacing: 3px;
    font-size: 1.5rem;
   
    
}

.moondata {
    overflow-wrap: break-word;
    font-family: Roboto;
    font-weight: 300;
    line-height: 170%; /* 30.6px */
    letter-spacing: 2.88px;
}

.button {
    height: 30vh;
}

.btn-close {
    border: 0;
    outline: 0;
    margin-left: 45%;
    margin-top: 2%;
    cursor: pointer;
    color: rgb(60, 66, 87);
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 12%) 0px 1px 1px 0px, rgb(60 66 87 / 16%) 0px 0px 0px 1px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(0 0 0 / 0%) 0px 0px 0px 0px, rgb(60 66 87 / 8%) 0px 2px 5px 0px;
    border-radius: 4px;
    font-size: 30px;
    font-weight: 500;
    padding: 8px 25px;
    min-height: 28px;
}

.border {
    border-bottom: solid 4px white;
    width: 50%;
    margin-left: 25%;
    margin-top: 2px;
    
}


